<div>
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="#" class="simple-text logo-mini">
        </a>
        <a href="#" class="simple-text logo-normal">
          P F E
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="#">
              <i class="icofont-home"></i>
              <p>Home Page</p>
            </a>
          </li>
          <li>
            <a href="about">
              <i class="nc-icon nc-pin-3"></i>
              <p>About</p>
            </a>
          </li>
          <li>
            <a href="education">
              <i class="nc-icon nc-pin-3"></i>
              <p>Education</p>
            </a>
          </li>
          <li>
          <li>
            <a href="experience">
              <i class="nc-icon nc-pin-3"></i>
              <p>Experience</p>
            </a>
          </li>
          <li>
            <a href="skills">
              <i class="nc-icon nc-pin-3"></i>
              <p>Skills</p>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="nc-icon nc-pin-3"></i>
              <p>Client</p>
            </a>
          </li>
          <li>
            <a href="portfolio">
              <i class="nc-icon nc-pin-3"></i>
              <p>Portfolio</p>
            </a>
          </li>
          <li>
            <a href="contact">
              <i class="nc-icon nc-pin-3"></i>
              <p>Contact</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
