<div class="modal fade" id="ajouter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">supprimer experience</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{{form_start(form)}}
			<div class="modal-body">
				<div class="form-group">
					<label for="exampleFormControlInput1">etablissement</label>
					<input type="text" class="form-control" placeholder="etablissement">
				</div>
				<div class="form-group">
					<label for="exampleFormControlInput1">{{form_label(form.id)}}</label>
					{{form_widget(form.description)}}
				</div>
			
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">valider</button>
			</div>
		</div>
		{{form_end(form)}}
	</div>
</div>
